<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="ConLynx.css">
<title>ConLynx</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<center>
	<h1>Welcome to ConLynx</h1>
	</center>
	<center>
	<h2 th:text="${message}" />
	</center>
	<p>
	<p>
	<center>
		<h2 th:href="@{'/myReviews/' + ${participator.email}}"><button>Your Reviews</button></a>
	</center>
	<p>
	<p>
	<center>
		<h2 th:href="@{'/readAPaperReview/'}"><button>Read A Paper Review</button></a>
	</center>
	<p>
	<p>
	<center>
		<h2 th:href="@{'/NewReview/'}"><button>Enter A Review</button></a>
	</center>
</body>
</html>
